<!DOCTYPE html>
<html>
  <head>
    <title>Notify</title>
    <%= csrf_meta_tags %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% if user_signed_in? %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        Hello, <%= current_user.username %>!
      </li>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "Account Settings", edit_user_registration_path %>
      </li>
      <li>
        <%= link_to "New Note", new_note_path %>
      </li>
      <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Register", new_user_registration_path %>
      </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
